TEST_JWT_SECRET=${TEST_JWT_SECRET}
#app
BACKEND_PORT=${BACKEND_PORT}
APP_NAME=${APP_NAME}

#Test


#Gemini
GEMINI_API_KEY=${GEMINI_API_KEY}
GEMINI_API_ENDPOINT=${GEMINI_API_ENDPOINT}

#Mongo
MONGO_URL=${MONGO_URL}
DB_NAME=${DB_NAME}
MONGO_USERNAME=${MONGO_USERNAME}
MONGO_PASSWORD=${MONGO_PASSWORD}

#Google Oauth
GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
GOOGLE_CLIENT_REDIRECT_URI=${GOOGLE_CLIENT_REDIRECT_URI}
GOOGLE_CLIENT_AUTHORIZATION_URI=${GOOGLE_CLIENT_AUTHORIZATION_URI}
GOOGLE_CLIENT_TOKEN_URI=${GOOGLE_CLIENT_TOKEN_URI}
USER_INFO_URI=${USER_INFO_URI}

#Redis
REDIS_HOST=${REDIS_HOST}
REDIS_PASSWORD=${REDIS_PASSWORD}
REDIS_PORT=${REDIS_PORT}

#JWT
JWT_SECRET=${JWT_SECRET}
ACCESS_TOKEN_EXPIRATION=${ACCESS_TOKEN_EXPIRATION}
REFRESH_TOKEN_EXPIRATION=${REFRESH_TOKEN_EXPIRATION}
JWT_ISSUER=${JWT_ISSUER}
JWT_AUDIENCE=${JWT_AUDIENCE}